<%= form_for [post, Comment.new], :remote =>
true do |f| %>
<div class="new_comment">
	<p>
		<%= f.label :content, "New Comment" %>
		<br />
		<%= f.text_area :content, :rows =>5 %></p>
</div>
<p>
	<%= f.submit "Add Comment" %></p>
<% end %>