/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.ui.all
 *= require_self
 *= require_tree .
 */
.avatar {
  img {
    max-height: 80px;
  }
}
body {
  margin-left: 50px;
  width: 1200px;
}

#banner {
  background: #4cafb5;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times", sans-serif;
  color: #ffffff;
  text-align: center;
  span {
    color: #7d7d7d;
    font: 30px/30px "Arial", serif;
  }
}

#columns {
  background: #712704;
  #main {
    h1.title {
      margin: 0;
      padding-bottom: 0.5em;
      font: small-caps 2.5em "Times" sans-serif;
      color: #226;
      border-bottom: 3px dotted #77d;
    }
    .field{
      font-size: 1.2em;
      width: 170px;
      input {
        width: 300px;
        padding: 5px 5px 5px 5px;
        font-size: 1.2em;
      border:2px solid #B3D6EF;
      background:#ffffff;
      }
    }
    margin-left: 17em;
    padding: 1em;
    background: white;
  }
  #user_info_title {
    color: white;
    font: small-caps 20px/20px "Arial", sans-serif;
  }
  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #712704;
    .field{
      font-size: 1.1em;
      input {
        width: 150px;
        overflow: hidden;
        padding: 5px 5px 5px 5px;
        border:1px solid #B3D6EF;
        background:#ffffff;
      }
    }
    #do_log_in  {
      margin: 0;  
      padding-top: 0.5em;
      font: 110% sans-serif;
      color: white;
      border-top: 2px dotted #d4d4d4;
    }
    #user_info {
      width: 170px;
      color: #eed205;
      margin-top: 10px;
      padding-top: 5px;
      border-top: 2px dotted #d4d4d4;
      border-bottom: 2px dotted #d4d4d4;
      padding-bottom: 5px;
      margin-bottom: 10px;
      #detailed_info {
        font-size: 1.3em;
      }
      .btn_func{
        a {
        color: #fcfc8a;
        font-size: 1.1em;
        }
      }
    }
    ul {
      padding: 0;
      li {
        padding: 5px 0 0 0;
        list-style: none;
        a {
          color: #fcfc8a;
          font-size: 1.2em;
          }
        }
    }     
  }
}