// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_comments {
	border-top: 2px dotted #7d7d7d;
	.comment {
		.comment_user {
			float: left;
			width: 100px;
		}
		img {
			height: 40px;
		}
		p {
			min-height: 70px;
		}
	}
}