// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_info {
	float: left;
	margin-right: 30px;
}
.posts {
	.post {
		margin-top: 1em;
		border-bottom: 1px dotted #77d;
		min-height: 100px;
		.post_detail .post_content {
			min-height: 90px;
		}
		.post_func {
			height: 18px;
			.time_from_client {
				overflow: nowrap;
				float: left;
			}
			.post_handle {
				float: right;
			}
		}
	}
}