// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts {
	h1 {
		margin: 0;
		padding-bottom: 0.5em;
		font: 150% sans-serif;
		color: #226;
		border-bottom: 3px dotted #77d;
	}
	.blog_detail {
		width: 800px;
		margin-top: 1em;
		border-bottom: 1px dotted #77d;
		min-height: 100px;
		.post_func {
			height: 18px;
			.time_from_client {
				overflow: nowrap;
				float: left;
			}
			.post_handle {
				float: right;
			}
		}
		.list_comments {
			border-top: 2px dotted #77d;
		}
	}
	p {
		margin-left: 100px;
		margin-top: 0.5em;
		margin-bottom: 0.8em;
	}
	pre {
		white-space: pre-wrap; /* css-3 */
		white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */
	}
}