// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
	padding-right: 100px;
	font: small-caps 1.2em "Times New Roman", serif;
  	.field{
		input {
			padding-top: 3px;
			padding-bottom: 3px;
	    	font: 1.5em "Times New Roman", serif;
			border:1px solid #B3D6EF;
			background:#ffffff;
		}
	}
}